section {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; */
}

.card-producto {
    width: 250px;
    padding: 20px;
}

.card-producto:hover {
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.image-box {
    width: 150px;
    height: 200px;
}

.btn-card {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
  }
