.navbar {
    padding: 20px;
    align-items: center;
  }

  #logo {
    background-color: transparent;
    margin-right: 25px;
    width: 60px;
    height: 55px;
  }

  a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
  }


